body {
    color: black;
    margin: 0;
    font-family: 'Lobster', cursive;

}
.container {
    max-width: 1000px;
    margin: 0 auto;

}

header {
    background-color: orange;
    height: 120px;
    line-height: 160px;

}

header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/* id selector */
#header-title {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#header-nav {
    display: block;
    float: right;
    margin-top: 0;
}

#header-nav li {
    display: inline;
    padding-left: 20px;
}

#header a:hover {
    color: black;
    cursor: pointer;
}

/* footer */

footer {
    background-color: black;
    position: absolute;
    height: 120px;
    line-height: 0px;
    width: 100%;
    font: bold 16px sans-serif;
    /* font-weight : ;
    font size:
    font family: ; */
    padding: 55px 50px;
}

footer .footer-left {
    width: 40%
}

footer .footer-left, footer .footer-right {
    display: inline-block;
    color: white

}

footer .footer-links {
    color: white;
    margin: 20 px 0 12px;
    padding: 0;
}

footer .footer-links a {
    text-decoration: none;
    color: white;

}

footer .footer-name {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

footer .footer-right {
    width: 35%
}

footer .footer-right p {
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin: 0; 
}

h1 {
    text-align: left !important;
    word-wrap: normal;
}

p{
    text-align: left;
}

body {
    background: whitesmoke
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}